{% extends "base.twig" %}
{% block  title %}{{title}} {% endblock title %}

{% block breadcrumb %}{% endblock %}



{% block content %}
    <div class="container">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="account">


                <div class="row" style="margin-top: 30px">
                    <div class="center-block col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Plan & Pricing</strong>
                            </div>
                            <div class="panel-body" style="padding-left:50px;">
                                <div class="row">
                                    <div class="span12">
                                        <table class="table table-condensed table-striped">
                                            <thead>
                                                <tr>
                                                    <th><h3>Plans</h3> </th>
                                            <th ><h3 class="">Personal</h3></th>
                                            <th><h3>Business</h3></th>
                                            <th><h3>Enterprise</h3></th>                                        
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Online Storage</td>
                                                    <td>5GB</td>
                                                    <td>50GB</td>
                                                    <td>Unlimited</td>                                        
                                                </tr>
                                                <tr>
                                                    <td>File size limit</td>
                                                    <td>2GB</td>
                                                    <td>5GB</td>
                                                    <td>Unlimited</td>                                        
                                                </tr>

                                                <tr>
                                                    <td>Bandwith Limit/Day</td>
                                                    <td>5 GB</td>
                                                    <td>Unlimited</td>
                                                    <td>Unlimited</td>
                                                </tr>

                                                <tr>
                                                    <td>Shared Link Transfert Quota</td>
                                                    <td>1 GB</td>
                                                    <td>Unlimited</td>
                                                    <td>Unlimited</td>
                                                </tr>

                                                <tr>
                                                    <td>Desktop sync</td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>

                                                </tr>
                                                <tr>
                                                    <td>Mobile access</td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>

                                                </tr>
                                                <tr>
                                                    <td>Full-text search</td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                </tr> 

                                                <tr>
                                                    <td>Dashboard</td>
                                                    <td></td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                    <td><span class="icon icon-sm icon-yes"></span></td>
                                                </tr> 

                                                <tr style="font-weight: bold">
                                                    <td>Price</td>
                                                    <td>00.00 €/month</td>
                                                    <td>31.96 €/month</td>
                                                    <td>63.00 €/month</td>
                                                </tr>                                       
                                                <tr>
                                                    <td> </td>
                                                    <td></td>
                                                    <td><a class="btn btn-primary" href="#"><i class="icon-shopping-cart icon-white"></i> Upgrade</a></td>
                                                    <td><a class="btn btn-primary" href="#"><i class="icon-shopping-cart icon-white"></i> Upgrade</a></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Account Informations</strong>
                            </div>
                            <div class="panel-body" style="padding-left:50px;">
                                <div class="row">
                                    <div class="row"><span class="info-block info-heading">Account type:</span><span>Personal</span></div>
                                    <div class="row"><span class="info-block info-heading">Storage (used/total):</span><span>5.0GB / 25.0GB</span></div>
                                    <div class="row"><span class="info-block info-heading">Bandwidth used:</span><span>500MB / 1GB</span></div>
                                    <div class="row"><span class="info-block info-heading">Max file size: </span><span>250MB / 2GB</span></div>
                                    <div class="row"><span class="info-block info-heading">Cancellation:  </span><span> <a href="#" >Click here to remove your account (Permanent)</a></span></div>

                                </div>
                            </div>

                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Login information</strong>
                            </div>
                            <div class="panel-body" style="padding-left:50px;">
                                <div class="row">
                                    <div class="row"><span class="info-block info-heading">Email:</span><span>cedric.anidie@gmail.com</span></div>                                                                       
                                    <div class="row"><span class="info-block info-heading">Password:  </span><span> <a href="#" >Change Password</a></span></div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="profile">


                <div class="panel panel-default" style="margin-top: 30px">
                    <div class="panel-heading">
                        <strong>Account Informations</strong>
                    </div>
                    <div class="panel-body" style="padding-left:50px;">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-0">
                                    <form action="r" method="post" accept-charset="utf-8" class="form" role="form">                                                  
                                        <fieldset>
                                            <table class="table table-condensed">
                                                <thead>

                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="info-block info-heading">Fullname: </td>
                                                        <td> <input type="text" class="form-control input-sm" />  </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="info-block info-heading">Account ID: </td>
                                                        <td> 123456789  </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="info-block info-heading">Picture: </td>
                                                        <td> 
                                                            <img src="" class="icon img-default pull-left" />
                                                            <input type="file" class="btn btn-default pull-left" />                                                                    
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="info-block info-heading">Company name: </td>
                                                        <td> <input type="text" class="form-control input-sm" />  </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="info-block info-heading">Title: </td>
                                                        <td> <input type="text" class="form-control input-sm" />  </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="info-block info-heading">Phone number: </td>
                                                        <td> <input type="text" class="form-control input-sm" />  </td>
                                                    </tr>
                                                </tbody>
                                            </table>                                                        
                                        </fieldset>
                                    </form>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- End Body  -->

    </div>  

{% endblock %}